<!-- NAVIGATION navbar-light bg-light -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">
			Administración de cursos
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/cursos">Cursos disponibles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/inscripcion">Inscribirme</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/createCourse">Crear curso</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/showInscritos">Ver inscritos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/delete">Eliminar aspirante</a>
				</li>
			</ul>
		</div>
	</div>
</nav>