<!-- SECTION -->
<section id="section">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="header-content-left">
					<p class="h2 mt-2 mb-2">
						Interesado:
					</p>
					<a href="/cursos"><button class="btn btn-outline-secondary">Mostrar cursos disponibles</button></a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="header-content-center">
					<p class="h2 mt-2 mb-2">
						Aspirante:
					</p>
					<a href="/inscripcion"><button class="btn btn-outline-secondary">Inscibirme en un curso</button></a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="header-content-right">
					<p class="h2 mt-2 mb-2">
						Coordinador:
					</p>
					<a href="/createCourse"><button class="btn btn-outline-secondary">Crear curso</button></a>
					<a href="/showInscritos"><button class="btn btn-outline-secondary">Ver inscritos</button></a>
					<a href="/delete"><button class="btn btn-outline-secondary mt-2">Eliminar una persona de un curso</button></a>
				</div>
			</div>
		</div>
	</div>
</section>