{{>head}}

{{>navigation}}

<header id="header">
	<section>
		<div class="container mt-5">
			<div class="row justify-content-center">
				<p class="h2 mt-2 mb-5">
					Cursos disponibles
				</p>
			</div>
			<div class="row justify-content-center">
				<p class="h4">
					{{{listarCursos}}}
				</p>
			</div>
		</div>
	</section>
</header>

{{>footer}}