{{>head}}

{{>navigation}}

<header id="header">
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-6">
				<div class="header-content-left">
					<h1 class="display-4">{{deleteAsp idA idC}}.</h1>
				</div>
			</div>
			<div class="col-md-6">
				<div class="header-content-right">
					{{{listarAspCurso idC}}}
				</div>
			</div>
		</div>
	</div>
</header>

{{>footer}}