body {
	font-family: 'Titillium Web', sans-serif;
}

.navbar {
	box-shadow: 2px 2px 5px #000;
	opacity: .9;
}

.navbar .nav-item .nav-link {
	color: #fff;
}

header {
	margin-top: 75px;
}

#section, #header-s {
	background: #f1f1f1;
	padding: 50px 0 30px 0;
	text-align: center;
	margin-top: 40px;
}

footer {
	background: #424242;
	bottom: 0;
	position: fixed;
	width: 100%;
}

/*Quitar flecha en el input de tipo number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

/*CHAT*/
#chat-container {
	max-width: 600px;
	margin: 30px auto;
	border: 1px solid #DDD;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
}

#chat-window {
	padding: 14px 0px;
	margin: 0 20px;
	border-bottom: 1px solid #E9E9E9;
	color: #555;
}

#output p {
	color: #555;
	padding: 14px 0;
	margin: 0 20px;
}

#actions p {
	padding: 14px 0;
	margin: 0 20px;
	border-bottom: 1px solid #E9E9E9;
	color: #555;
}

#chat-container input {
	padding: 10px 20px;
	box-sizing: border-box;
	border: 0;
	background: #EEE;
	display: block;
	width: 100%;
}

#chat-container button {
	background: #575ED8;
	color: #FFF;
	font-size: 18px;
	border: 0;
	padding: 12px 0px;
	width: 100%;
	border-radius: 0 0 2px 2px;
}