{{>head}}

{{>navigation}}

<header id="header">
	<div class="container">
		<div class="text-center mt-3 mb-3">
			<img src="img/cursos.png" style="width: 60%">
		</div>
		{{#if msj}}
			<div class="d-flex justify-content-center">
				<div class="alert alert-success" role="alert" style="width: 50%">
					<div class="row justify-content-center">
						{{msj}}
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<div class="card border-success" style="width: 50%">
					<div class="card-header">Información del curso</div>
					<div class="card-body">
						{{{infoCurso curso}}}
					</div>
				</div>
			</div>
		{{else}}
			<div class="d-flex justify-content-center">
				<div class="alert alert-danger" role="alert" style="width: 50%">
					<div class="row justify-content-center">
						{{e}}
					</div>
				</div>
			</div>
		{{/if}}
	</div>
</header>

{{>footer}}