{{>head}}

	{{>navigation}}

	<header id="header">
		<div class="d-flex justify-content-center">
			<img src="img/not-found.png">
		</div>
		<div class="d-flex justify-content-center">
			<a class="btn btn-primary btn-lg" href="/" role="button">Ir a inicio</a>
		</div>
	</header>

{{>footer}}