{{>head}}

	{{>navigation}}

	<header id="header">
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-6">
					<div class="header-content-left">
						<img src="img/student.jpg" style="width: 100%">
					</div>
				</div>
				<div class="col-md-6">
					<div class="header-content-right">
						<div class="alert alert-succes" role="alert">
							<div class="row justify-content-center">
								{{msj}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

{{>footer}}