{{>head}}

{{>navigation}}

<header id="header">
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-6">
				<div class="header-content-left">
					<img src="img/student.jpg" style="width: 100%">
				</div>
			</div>
			<div class="col-md-6">
				<div class="header-content-right">
					{{#if msj}}
						<div class="alert alert-success" role="alert">
							<div class="row justify-content-center">
								{{msj}}
							</div>
						</div>
					{{else}}
						<div class="alert alert-danger" role="alert">
							<div class="row justify-content-center">
								{{e}}
							</div>
						</div>
					{{/if}}
					<p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus reprehenderit porro totam nemo, neque id architecto perspiciatis illum in molestiae hic doloribus ipsam omnis qui optio laudantium sit, dolores ratione.
					</p>
				</div>
			</div>
		</div>
	</div>
</header>

{{>footer}}