{{>head}}

{{>navigation}}

<header id="header">
	<div class="container-mt-5">
		<div class="row justify-content-center">
			<p class="h2 mt-2 mb-4">
				Listado de inscritos:
			</p>
		</div>
		<div class="row justify-content-center">
			{{{listarAspirantes listC listA}}}
			{{#if msj}}
				<div class="alert alert-danger" role="alert">
					<div class="row justify-content-center">
						<h3>{{msj}}</h3>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</header>

{{>footer}}